body {
    background-color: #eee;
}

form input.form-control {
    margin-bottom: 5px;
}

input.btn {
    margin-top: 15px;
}

form{
    width: 330px;
    margin: 50px auto;
}

.navbar-header{
    /* overwrite float: left default bootstrap style */
    float: none;
}

.post{
    background: white;
    border-radius: 10px;
}

.post, .alert{
    box-shadow: 6px 6px 12px #C0C0BE;
    padding: 10px;
    margin-bottom: 15px;
}

h1, h2, h3, h4{
    margin-top: 0;
}

#postContainer{
    float: left;
    width: 400px;
    margin-right: 20px;
}

form#postToWall{
    float: left;
    margin: 0;
}