<html>
    <head>
        <title>The Book of Faces</title>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="/">The Book of Faces</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul> 
        </div>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
