<html>
    <head>
        <title>The Book of Faces</title>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="/">The Book of Faces</a></li>
                {% if not session.get('user_id') %}
                <li><a href="/register">Register</a></li>
                {% endif %}
            </ul> 

        {% if session.get('user_id') %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/user/{{session['username']}}">{{session['username']}}</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        {% endif %}
        </div>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
